
.jumbotron {
  margin: 0px;
}

#addCardsPanel {

}

#mainContent {
  width: 80vw;
  margin: auto;
}

#addCardAlert {
  display: none;
}

.panel-body > div {
  display: flex;
}

.panel-body button {
  margin-right: 15px;
}

#resultsSection {
  display: flex;
}

#resultsSection table {
  margin: 5px;
  width: calc(50% - 10px);
}
